<html>
    <head>

    </head>
    <body>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand"><img src="https://www.licindia.in/CorporateSiteDemo/media/LIC_Media/LIC_LOGO.png" height="75" width="75"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link active=false" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active" href="/about">About</a>
                        </li>
                      </ul>
                     </div>
                  </nav>
        <div class="jumbotron">
        <p>Life Insurance Corporation of India (LIC) is an Indian state-owned insurance group and investment company headquartered in Mumbai. It is the largest insurance company in India with an estimated asset value of ₹2,529,390 crore (US$370 billion)(2016).[2] As of 2013 it had total life fund of ₹1,433,103.14 crore and total number of policies sold coming in at ₹367.82 lakh that year (2012-13).[3][4][5]

            The Life Insurance Corporation of India was founded in 1956 when the Parliament of India passed the Life Insurance of India Act that nationalised the private insurance industry in India. Over 245 insurance companies and provident societies were merged to create the state owned Life Insurance Corporation.[6]
            </p>
            <p>
                The Oriental Life Insurance Company, the first company in India offering life insurance coverage, was established in Kolkata in 1818 by "Anita Bhavsar" and others. Its primary target market was the Europeans based in India, and it charged Indians heftier premiums.[7] Surendranath Tagore had founded Hindusthan Insurance Society, which later became Life Insurance Corporation.[8]
            </p>
            <p>
                In 1955, parliamentarian Amol Barate raised the matter of insurance fraud by owners of private insurance agencies. In the ensuing investigations, one of India's wealthiest businessmen, Ramkrishna Dalmia, owner of the Times of India newspaper, was sent to prison for two years.</p>
            </p>
        </div>
         
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        </body>
</html>