<!DOCTYPE html>
<html>

<head>
    <title>holders details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="jumbotron" id="showSearch">
        <input type="text" name="searchedUsers">
        <a class="btn btn-primary" href="/showUsers" type="button">Search</a>
    </div>
    <table class="table table-dark">
        <thead>
            <tr>
                <td scope="col">Welcome {{userDetails[2]}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Father's Name:</th>
                <td>{{userDetails[3]}}</td>
            </tr>
            <tr>
                <th scope="row">Mother's Name:</th>
                <td>{{userDetails[4]}}</td>
            </tr>
            <tr>
                <th scope="row">Email:</th>
                <td>{{userDetails[5]}}</td>
            </tr>
            <tr>
                <th scope="row">Mobile Number:</th>
                <td>{{userDetails[6]}}</td>
            </tr>
            <tr>
                <th scope="row">Gender :</th>
                <td>{{userDetails[7]}}</td>
            </tr>
            <tr>
                <th scope="row">Marital Status :</th>
                <td>{{userDetails[8]}}</td>
            </tr>
            <tr>
                <th scope="row">Date Of Birth:</th>
                <td>{{userDetails[9]}} / {{userDetails[10]}} / {{userDetails[11]}}</td>
            </tr>
            <tr>
                <th scope="row">Location :</th>
                <td>{{userDetails[12]}}</td>
            </tr>
            <tr>
                <th scope="row">Policies :</th>
                <td>{{userDetails[13]}}</td>
            </tr>
            <p id="aboutPolicy"></p>
        </tbody>
    </table>
    <div class="alignCenter">
        <a class="btn btn-primary" href="/signIn" type="button">Logout</a>
    </div>
    <style>
        tr .alignCenter {
            text-align: center;
        }
    </style>
</body>
<script>

</script>

</html>